annotated-types
anyio
cachetools
certifi
charset-normalizer
click
colorama ; platform_system == "Windows"
fastapi
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-secret-manager
google-cloud-tasks
googleapis-common-protos
grpc-google-iam-v1
grpcio-status
grpcio
h11
idna
proto-plus
protobuf
pyasn1-modules
pyasn1
pydantic-core
pydantic
python-dotenv
requests
rsa
sniffio
starlette
typing-extensions
typing-inspection
urllib3
uvicorn
firebase-admin
google-cloud-firestore
tenacity  # For retry logic with exponential backoff
